img{
  height:50%;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
body{
  background-color:#e5c39b;
  border: 2px;
}
h1{
  text-align:center;
}
nav>ul>li{
  display: inline-block;
  padding-right: 30px;
  text-align:left;
}
