img{
  display: block;
  height: 30%;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 1.5em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
  
  background-size: cover;
  background-color:#f3f2e8;
  border: 2px;
  padding: 10px;
  color:black;
  text-align: left;
  vertical-align: middle;
}
h1{
  text-align:center;
}
nav>ul>li{
  display: inline-block;
  padding-right: 30px;
  text-align:left;
}
span{
  color:blue;
}
@media screen and (min-width: 500px) {

}
#homepage li{
  margin: 0;
  padding: 8px;
  background-color: #333;
}
#homepage li a{
  color:#fff;
  padding-left: 5px;
    line-height: 120%;
    padding-top: 8px;
    padding-bottom: 3px;
}
#homepage p {
  text-align: center;
}
#homepage {
  padding-bottom: 30px;
}
.landingpage {
    background-image: url("http://img.youtube.com/vi/hPCotoawhk0/maxresdefault.jpg");
    width: 100%;
    height: 100%;
}
.myhead{
float:right;
}
.graphic p{
font-family: 'Italianno', cursive;
font-size:35px;
text-align:center;
}
